*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
    background-image: url(back.png);
}
.card{
    width:75%;
    height: wrap;
    background-color: rgba(167, 132, 132, 0.4);
    backdrop-filter: blur(7px);
    border-radius:10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border: solid 1px;
    transition: 0.8s;
}
.ikun{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.card1{
    width: 90%;
    height:wrap;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.a1{

    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 10px;
    border: solid 2px;
}
.a2{
    margin-top: 10px;
    width: 100%;
    height: 100px;
        background-color: rgba(255, 255, 255,0.3);
    border-radius: 10px;
    border: solid 2px;
}
.a1:hover{
   border: solid 2px rgb(255, 255, 255);
   transition: 0.3s;
}
.a2:hover{
   border: solid 2px rgb(255, 255, 255);
   transition: 0.3s;
}